body{
    background-color :#861657;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/009/750/326/small_2x/hi-tech-digital-circuit-board-ai-pad-and-electrical-lines-connected-on-blue-lighting-background-futuristic-technology-concept-vector.jpg');
  }
  
  .container{
    text-align: center;
    margin-top:23px
  }
  
  table{
    margin: auto;
  }
  
  input{
    border-radius: 10px;
    border: 5px solid #f0312a;
    font-size:34px;
    height: 65px;
    width: 456px;
    box-shadow: 2px 2px rgb(111, 0, 255);
  }
   
  h1{
    font-size: 45px;
    background-color: #fff017;
    border-radius: 5px;
    border: 2px solid #ff0d0d;
    box-shadow: 2.5px 2.5px rgb(3, 31, 170);
    cursor: pointer; 
  }
  
  button{
    border-radius: 40px;
    font-size: 45px;
    background-image: linear-gradient(30deg, #00ff6a 10%, #faf60a 74%);
    width: 95px;
    height: 80px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(3, 202, 252);
  }
  button:hover {
    background: rgb(233, 112, 217);
   }

  .cls{
    background-color: rgb(112, 26, 129);
    font-size: 30px;
    height: 2em;
    width: 4em;
  }
  .calculator{ 
    border: 4px solid #ff0303;
    background-image: url('https://t3.ftcdn.net/jpg/02/43/36/88/360_F_243368800_iYenQw8k85GTsJ39VHFxanBkj3MQxzKW.jpg');
    padding: 23px;
    box-shadow: 5px 5px rgb(36, 1, 102);
    border-radius: 25px;
    display: inline-block;
  }